/* chat.css */

.chat-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-container a {
  color: #fafafa;
}

.chat-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: #fafafa;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fafafa;
}

.chat-input {
  display: flex;
  margin-bottom: 20px;
}

.chat-input {
  display: flex;
  margin-bottom: 2rem;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 2rem;
  font-size: 1rem;
  border: 1px solid #fafafa;
  border-radius: 4px;
}

.chat-input button {
  padding: 2rem;
  font-size: 1rem;
  background-color: #fafafa;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 2rem;
}

.chat-input button:hover,
.chat-input button:focus {
  background-color: #45a049;
  color: #fafafa;
}

.chat-response {
  padding: 20px;
  background-color: #33333375;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #fafafa;
  max-height: 75vh;
  overflow-y: auto;
}

.chat-response::-webkit-scrollbar {
  width: 8px;
}

.chat-response::-webkit-scrollbar-track {
  background-color: #222;
}

.chat-response::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 4px;
}

.chat-response::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

@media screen and (max-width: 600px) {
  .chat-container {
    padding: 2rem 0.5rem;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.loading-spinner {
  display: none;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lil-gui {
  display: none;
}