body {
  font-family: monospace;
}

nav {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fafafa;
  min-height: 40px;
}

.logo a {
  color: #fafafa;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-items {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  margin-right: 20px;
  font-size: 18px;
}

.dropdown-toggle {
  color: #fafafa;
  text-decoration: none;
  padding: 10px;
  border-radius: 1rem;
  background-color: #555;
  cursor: pointer;
  padding: 1rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border-radius: 1rem;
  background-color: #555;
  margin: 1rem;
  padding: 1rem;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
  top: 100%;
  left: 0;
  margin-top: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style: none;
  padding: 4px 0;
}

.dropdown-menu a {
  color: #333;
  text-decoration: none;
}