body {
  font-family: monospace;
}

nav a {
  color: #fafafa
}

nav {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fafafa;
  min-height: 40px;
}

.logo {
  color: #fafafa;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-items {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  font-size: 18px;
}

.dropdown-toggle {
  color: #fafafa;
  text-decoration: none;
  padding: 10px;
  border-radius: 1rem;
  background-color: #555;
  cursor: pointer;
  padding: 1rem;
  width: auto;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #101010;
  padding: 0.5rem 0;
  list-style: none;
  min-width: 150px;
  z-index: 1;
}

.dropdown.active .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style: none;
  padding: 4px 0;
}

.dropdown-menu a {
  color: #fafafa;
  text-decoration: none;
}