body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  position: relative;
}

canvas {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.button-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

#page-content {
  padding: 1rem;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#website {
  color: black;
  font-family: var(--font-family);
  font-weight: bolder;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: rgba(194, 194, 194, 0.5);
  border-radius: var(--border-radius);
}

#title {
  position: absolute;
  border-radius: var(--border-radius);
  background-color: #10101075;
  padding: 1.5rem;
  margin: 1.5rem;
  color: white;
  font-size: 1.5rem;
}

#title {
  cursor: pointer;
}

#music-player {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 90%;
  max-width: 400px;
  height: auto; 
  border-radius: var(--border-radius);
  z-index: 1000;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  padding: var(--padding);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  min-height: 40px;
}

nav a {
  color: var(--main-text-color);
}

nav a:hover {
  color: var(--highlight-color);
}

@media screen and (min-width: 768px) {
  #page-content {
    min-height: calc(100vh - 6rem);
  }
  
  #title {
    font-size: 2rem;
  }
  
  #music-player {
    width: 25%;
  }
}