.writing-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1rem;
  width: 100%;
}

.sidebar {
  flex: 0 0 200px;
  padding-right: 20px;
}

.sidebar h3 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar a {
  color: #ccc;
  text-decoration: none;
}

.sidebar a.active {
  color: #4F86F7;
  font-weight: bold;
}

.main-content {
  flex: 1;
}

@media (max-width: 768px) {
  .writing-container {
    flex-direction: column;
    padding: 10px;
  }

  .sidebar {
    flex: none;
    margin-bottom: 20px;
    padding-right: 0;
  }

  .main-content {
    flex: 1;
  }
}

/* Rest of the CSS code remains the same */
.article-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.article-item:hover {
  color: #4F86F7;
}

.error-message {
  color: red;
}

#article-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  max-height: 44vh;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ccc;
}

#article-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#article-content p {
  margin-bottom: 20px;
}

.lil-gui {
  display: none;
}

#music-player {
  display: none;
}

.picker {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 20vh;
  max-height: 120px;
  background-color: #1c1c1c;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.1);
}

.option {
  width: 28%;
  height: 80%;
  background-color: #1c1c1c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #fafafa;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease;
}

.option:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6), -2px -2px 5px rgba(255, 255, 255, 0.1);
}

.option.selected {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

@media (max-width: 600px) {
  .writing-container {
    padding: 10px;
  }

  #article-content {
    padding: 10px;
    max-height: 60vh;
  }

  #article-content h2 {
    font-size: 1.2rem;
  }

  .picker {
    flex-wrap: wrap;
    height: auto;
    max-height: none;
    padding: 10px;
  }

  .option {
    width: 45%;
    height: 100px;
    margin-bottom: 10px;
    font-size: 18px;
  }
}