.writing-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.article-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.article-item:hover {
  color: #4F86F7
}

.error-message {
  color: red;
}